
.all-todos-container {
    grid-template-areas: 
    'btns    btns'
    'todo-card';
    width: auto;
    display: grid;
    background-color: darkgrey;
    grid-template-rows: repeat(3, auto);
    justify-content: center;
    padding: 1rem; 
}

.todo-container {
    width: auto;
    padding: 1rem;
    margin: 1rem;
    border-radius: 6%;
}

.todo-card {
    width: 250px;
    height: 250px;
    border-radius: 6%;
    box-shadow: 5px 5px rgb(56, 66, 61);
}

.btns {
    justify-content: space-between;
    border-radius: 6%;
    padding: .25rem;
    margin: .25rem;
}

.complete, .delete {
    
    width: min-content;
    height: min-content;
    border-radius: 6%;
    box-shadow: 5px 5px rgb(56, 66, 61);
}

.title {
    justify-content: center;
}

.description {
    margin-left: .25rem;
}

/* @media only screen and (min-width: 700px) {
  .todo-container {

}
} */

/* Check out CSS Grid  */


/* @media only screen and (max-width: 900) {
    .todo-container, .todo-card .btns{
        display: grid;
        grid-template-columns: repeat(3, 12px);
        grid-template-rows: repeat(1, auto);
        justify-content: space-between;
        border-radius: 6%;
        padding: .25rem;
        margin: .25rem;
    }
}  */