
.all-todos-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    background-color: darkgrey;
    padding: 1rem; 
}

.todo-container {
    width: fit-content;
    padding: 1rem;
    margin: 1rem;
    border-radius: 6%;
    background-color: gray;
}

.todo-card {
    width: 250px;
    height: 250px;
    border-radius: 6%;
    box-shadow: 5px 5px rgb(56, 66, 61);
    background-color: red;
}

.todo-card2 {
    width: 250px;
    height: 250px;
    background-color:lightslategrey;
    border-radius: 6%;
    box-shadow: 5px 5px rgb(56, 66, 61);
}

.btns {
    justify-content: space-between;
    border-radius: 6%;
    padding: .25rem;
    margin: .25rem;
}

.complete, .delete {
    
    width: min-content;
    height: min-content;
    border-radius: 6%;
    box-shadow: 5px 5px rgb(56, 66, 61);
}

.title {
    justify-content: center;
}

.description {
    margin-left: .25rem;
}

/* @media only screen and (min-width: 1020px) {
    .all-todos-container .todo-container .todo-card{
        display: grid;
        grid-template-columns: 200px 200px 200px 200px;
}
} */

/* Check out CSS Grid  */


/* @media only screen and (max-width: 900) {
    .todo-container, .todo-card .btns{
        display: grid;
        grid-template-columns: repeat(3, 12px);
        grid-template-rows: repeat(1, auto);
        justify-content: space-between;
        border-radius: 6%;
        padding: .25rem;
        margin: .25rem;
    }
}  */