.formTodoWrap {
    border-radius: 6%;
    background-color: darkgrey;
    padding: 3rem;
    margin: 3rem;
}

.formTodo {
 background-color: gray;
 padding: 1rem;
 margin: 5rem;
 border-radius: 6%;
 box-shadow: 5px 5px rgb(56, 66, 61);
}

label {
 /* width: auto; */
 display: grid;
 grid-template-rows: 1fr 1fr 1fr 1fr;
 grid-gap: 10px;
 font-size: xx-large;

}

/* .title{
} */

input {
    font-size: x-large;
    height: auto;
    box-shadow: 5px 5px rgb(56, 66, 61);
}

.btn {
    font-size: x-large;
    padding: 1rem;
    margin: 5rem;
    border-radius: 6%;
    box-shadow: 5px 5px rgb(56, 66, 61);
}