.formTodoWrap {
display: flex;
flex-direction: column;
}

.formTodo {
 /* padding: 1rem; */
 /* margin: 5rem; */

}

label {
 margin: 5%;
 font-size: xx-large;
}

input {
    display: flex;
    flex-direction: row;
    font-size: x-large;
    /* line-height: 2; */
    width: 80%;
    margin-left: 10%;
    border-radius: 5%;

}

.btn {
    font-size: large;
    padding: .5rem;
    margin: 2rem 75%;
    border-radius: 6%;
    color: #FFFFFF;
    background-color: #087990;
}

.notes {
line-height: 6;
}