 .header2{
    background-color: #184e77;
    height: 6rem;
  }
  
  .allToDos {
    font-family: "Inter";
    font-style: normal;
    font-weight: 800;
    font-size: 1rem;
    padding: .45rem;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 6px;
    border-width: 2px;
  }

  link {
    display: flex;
    justify-content: flex-end;
  }
  